<?xml version='1.0' encoding='utf-8'?>
<plugin id="hypertrack-ext" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>hypertrack-ext</name>
	<js-module name="hypertrackExt" src="www/hypertrack-ext.js">
		<clobbers target="cordova.plugins.hypertrackExt" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="hyperTrack">
				<param name="android-package" value="hypertrackExt.hyperTrack" />
			</feature>
		</config-file>
		<config-file parent="/manifest/application" target="AndroidManifest.xml">
			<service android:name="hypertrackExt.hypertrackExt">
				<intent-filter>
					<action android:name="com.google.firebase.MESSAGING_EVENT" />
				</intent-filter>
			</service>
		</config-file>
		<source-file src="src/android/hyperTrack.java" target-dir="src/hypertrackExt" />
		<source-file src="src/android/hypertrackExt.java" target-dir="src/hypertrackExt" />
	</platform>
</plugin>